@model Exception 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title>Opps ! Something went worng.</title>

    <link rel="stylesheet" href="~/Content/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.css">

    <link rel="stylesheet" href="~/Content/assets/css/neon-core.css">
    <link rel="stylesheet" href="~/Content/assets/css/neon-theme.css">

    <link rel="stylesheet" href="~/Content/assets/css/neon-forms.css">
    <link rel="stylesheet" href="~/Content/assets/css/custom.css">
</head>
<body class="page-body">
    <div class="cm-header" style="height:80px; background-color:black; color:white; " >
        <div class="logo text-center" >
                           <img src="~/Content/assets/images/CompanyLogo/logo.png" style="margin-top:10px" width="180" alt="Company Logo" />            
        </div>
    </div>
    <div class="page-container">
        <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
        <div class="main-content">
            <div class="page-error-404">
                <div class="error-symbol">
                    <i class="entypo-attention"></i>
                </div>
              
                <div class="error-text">
                    <h3>@Model.Message</h3>
                </div>
               
                <div class="error-text">
                    Something went wrong !
                    <br />
                    <br />
                    <div style="display:none" class="col-md-5">
                        <h6> @Model.StackTrace</h6>   
                    </div>
                   
                </div>


            </div>
        </div>
    </div>
    
</body>
</html>
