
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12" style="text-align:center">
        <br />
        <br />
        <br />
        @*<h2>PACKi TRACKnTRACE Manager </h2>*@
        <img src="/Content/assets/images/PACKi.png" alt="PACKi Track and Trace" />
        <h3> <br /> Propix Technologies PVT. LTD.</h3>
    </div>

    @*<div>
            <a href="@Url.Action("pos")">pos</a>
        </div>*@

</div>
